@import url("pretendard/dist/web/variable/pretendardvariable.css");

@font-face {
  font-family: "Gapyeong Hanseokbong";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Gapyeong Hanseokbong Regular"), local("GapyeongHanseokbongR"),
    url("/fonts/GapyeongHanseokbongR.ttf") format("truetype");
}
